body {
  height: 100%;
  width: 100%;
  background-image: url('zong-background.jpg');
  background-position: top;
  background-size: 100%;
  background-repeat: repeat-y;
 


}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-right: 10%;
  margin-left: 10%;
  background-color: black;
  margin-top: 30%;
  height: 2000px

}

.Menu {
  
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 200px;
  margin-right: 5vw;
  margin-left: 5vw;
  color: #ddcab9;
  gap: 15px;
  
}

.Zong-background {
 position: relative;
 
} 

.Zong-logo {
  height: 300px;
  color: #ddcab9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
}

.Serpent-single {
  height: 600px;
  width: 600px;
  text-align: center;
  
}

.Serpent-single-title {
  color:#fc5751;

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .Main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      margin-right: 10%;
      margin-left: 10%;
      background-color: black;
      margin-top: 10%;
      height: 2000px
    
    }

    .Menu {
      display: none;
    }

    .Header-menu {
      display: flex;
      justify-content: center;
      color:#ddcab9;
      margin-top: 20px;
      gap: 10px;
    }

    .Mobile-Menu {
      height: 40px;
      width: 40px;
    
    }

    .Social-icon {
      height: 40px;
      width: 40px;
    }





    .Zong-logo {
      height: 100px;
      color: #ddcab9;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
    }

  .Serpent-single-title {
    color:#fc5751;
    font-size: 16px;
    margin-top: 50px;
  
  }

  .Serpent-single {
    height: 250px;
    width: 250px;
    text-align: center;
    
  }



}
